<div class="edit_user_form">
	<h1 class="title">Edit My Profile</h1>

	<%= render 'settings_form', user: @user %>

	<%= link_to 'Go to My Playlists', @user, {class: 'edit_user_show_button'} %>

</div>
