<form action="/search" method="get">
	<div class="search-source">
	  <h3 class="title">Search streaming services:</h3>
	  <div>
		  <label>Spotify</label>
		  <input type="checkbox" value="spotify" name="source" checked/>
	  </div>
	  <div>
		  <label class="coming-soon">Tidal(soon...)</label>
		  <input type="checkbox" value="tidal" name="source" disabled/>
	  </div>
	  <div>
		  <label class="coming-soon">Apple Music(soon...)</label>
		  <input type="checkbox" value="apple_music" name="source" disabled="true"/>
	  </div>
	</div>
  <input type="text" name="query" placeholder="Search">
  <input type="submit" value="Submit">
</form>