/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "playlists";
@import "scaffolds";
@import "users";


p, ol, ul, td { margin: 5px; }

.alert {
	position: absolute;
	width: 90%;
}

.logout-btn {
	background: #cac9c9;
	border-radius: 40px;
	color: black;
	font-size: 15px;
	padding: 5px 15px;
	position: absolute;
	right: 2vw;
}

.search-text {
	display: inline-block;
	margin: 0;
	padding-right: 5px;
}

.spotify-id {
	display: inline-block;
	margin: 5px;
	margin-left: 0;
	padding-right: 5px;
}