/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "playlists";
@import "scaffolds";
@import "users";


body {
	color: #666;
	margin: 0;

	.alert {
		top: 30px;
	}

	.alert, .notice {
		position: absolute;
		width: 90%;
	}

	.logout-btn {
		color: #666;
		float: right;
		font-size: 15px;
		padding: 0 25px;

		&:hover {
			margin-top: -10px;
			background: rgba(189,189,189,0.31);
			color: #666;
			padding: 10px 25px;
			text-decoration: none;
		}
	}

	#navbar {
		background: black;
		border-bottom: 1px solid dimgrey;
		padding: 12px 0;

		a, .profile-link, .sign_in_button {
			color: white;
			font-size: 15px;
			font-weight: 500;
			padding: 10px 10px;
		}

		a:hover, .profile-link:hover, .sign_in_button:hover {
			background: rgba(189,189,189,0.31);
			color: white;
			text-decoration: none;
		}

		.site-title {
			color: white;
			display: inline-block;
			font-size: 16px;
			font-weight: 500;
			padding: 10px 25px;
			text-transform: uppercase;

			&:hover { 
				cursor: pointer;
				text-decoration: none;
			}
		}
	}

	.search-text {
		display: inline-block;
		margin: 0;
		padding-right: 5px;
	}

	.spotify-id {
		display: inline-block;
		margin: 5px;
		margin-left: 0;
		padding-right: 5px;
	}
}


form[action="/search"] {
  margin-left: 10vw;
  width: 80vw;

  input[type="text"] {
    font-size: 16px;
    height: 40px;
    margin: 20px 0 20px 5vw;
    padding-left: 1vw;
    width: 65vw;
  }

  input[type="submit"] {
    background: black;
    border: dimgrey;
    color: white;
    height: 40px;
    vertical-align: top;
    margin-left: -6px;
    margin-top: 20px;
    width: 5vw;
  }
}


form.new_user {
	.field label {
		display: inline-block;
	}

	input {
	    border: 1px solid #000;
	    border-radius: 6px;
	    margin: 0px 0 15px 0;
	    min-height: 30px;
	    min-width: 80%;
    	padding-left: 15px;

	    &::placeholder {
	    	padding-left: 0;
	    	text-align: center;
	    }
	}
}

p, ol, ul, td { 
	color: #979779;
	margin: 5px;
}