// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlists-wrap {
	///////////////////////////////////////.[]'

// Make title, track and artist all inline
// add add to my playlist button
	
	.playlist {
		background-color: #383838;
		border-radius: 5px;
		display: inline-block;
		height: auto;
		max-height: 300px;
		// max-width: 600px;
		padding: 5px 10px;
		width: 40%;
		margin: 15px 25px 25px 25px;	

		.title {
			color: #fff;
		}

		.tracks {
			background-color: #fff;
			border: 1px solid #a4a4a4;
			max-height: 200px;
			overflow: hidden;
			overflow-y: scroll;

			.track{
				display: block;

				// .track_name, .track_artist, .track_artist_name {
				// 	display: inline-block;
    // 				float: left;
    // 				margin: 0px 15px 0px 15px;
				// }
			}
		}
	}
}

// display: inline-block;
//     float: left;
//     margin: 0px 0px 0px 5px;
