// Place all the styles related to the Playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	.main {

		.inline-title {
			display: inline-block;
		}

		.sign_in_button {
		    color: white;
		    background-color: green;
		    padding: 5px 10px;
		    border-radius: 10px;
		    text-decoration: none;
		    display: inline-block;

		    &:visited { color: white; }
		}	

		.playlists-wrap {
			///////////////////////////////////////.[]'

		// Make title, track and artist all inline
		// add add to my playlist button
			
			.playlist {
				background-color: #383838;
				border-radius: 5px;
				display: inline-block;
				height: auto;
				max-height: 300px;
				// max-width: 600px;
				padding: 5px 10px;
				width: 43%;
				margin: 15px 25px 25px 25px;	

				.title {
					color: #fff;
				}

				.save-to-playlist {
					color: #fff;
				}

				.save-to-spotify {
					color: #fff;
				}

				.tracks {
					background-color: #fff;
					border: 1px solid #a4a4a4;
					max-height: 200px;
					overflow: hidden;
					overflow-y: scroll;

						.album_name {
							width: 150px;
						}

					// .track{
					// 	display: block;
					// }
				}
			}
		}
	}
}

// display: inline-block;
//     float: left;
//     margin: 0px 0px 0px 5px;
